*.*
!.gitignore
!README.md
!.github/workflows/generate-pdf-from-latex.yml
!web/*
!aleph/preamble.tex
!aleph/discrete/*.png
!aleph/discrete/*.tex
!aleph/discrete/*.svg
!aleph/discrete/*.pdf*
!aleph/methods/*.png
!aleph/methods/*.tex
!aleph/methods/*.svg
!aleph/methods/*.pdf*