*.*
!.gitignore
!README.md
!.github/workflows/generate-pdf-from-latex.yml
!web/*
!aleph/preamble.tex
!aleph/discrete/*.tex
!aleph/discrete/images/*.png
!aleph/discrete/images/*.svg
!aleph/discrete/images/*.pdf*
!aleph/methods/*.tex
!aleph/methods/images/*.png
!aleph/methods/images/*.svg
!aleph/methods/images/*.pdf*
