<!DOCTYPE html>

$-------------------------------------------------------------------------> lang
<html$if(lang)$ lang="$lang$"$endif$$if(dir)$ dir="$dir$"$endif$>
<head>
$--=============================================================================
$--                                METADATA
$--=============================================================================
  <meta charset="$if(charset)$$charset$$else$utf-8$endif$" />
  <meta name="generator" content="pandoc" />
  <meta name="viewport" content="width=device-width, initial-scale=0.5, user-scalable=yes" />
  <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Gelasio&display=swap" rel="stylesheet">
$-----------------------------------------------------------------------> author
$for(author-meta)$
  <meta name="author" content="$author-meta$" />
$endfor$
$-------------------------------------------------------------------------> date
$if(date-meta)$
  <meta name="dcterms.date" content="$date-meta$" />
$endif$
$---------------------------------------------------------------------> keywords
$if(keywords)$
  <meta name="keywords" content="$for(keywords)$$keywords$$sep$, $endfor$" />
$endif$
$------------------------------------------------------------------> description
$if(description)$
  <meta name="description" content="$description$">
$endif$
$------------------------------------------------------------------------> title
  <title>$if(title-prefix)$$title-prefix$ – $endif$$pagetitle$</title>
$--===========================================================================
$--                            CSS STYLESHEETS
$--===========================================================================
$-- Here comes the placeholder (within double braces) that will be replaced
$-- by the CSS file in the finalized template:

$if(custom-toc)$
<link rel="icon" type="image/png" href="favicon.png"/>
<link rel="stylesheet" href="style.css">
$else$
<link rel="icon" type="image/png" href="../favicon.png"/>
<link rel="stylesheet" href="../style.css">
$endif$
$-------------------------------------------------------------------------------
  <style type="text/css">code{white-space: pre;}</style>
$-------------------------------------------------------------------------------
$if(quotes)$
  <style type="text/css">q { quotes: "“" "”" "‘" "’"; }</style>
$endif$
$--------------------------------------------------------------------------> css
$for(css)$
  <link rel="stylesheet" href="$css$">
$endfor$
$-------------------------------------------------------------------------> math
$if(math)$
  $math$
$endif$
$-------------------------------------------------------------------------------
  <!--[if lt IE 9]>
    <script src="//cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv-printshiv.min.js"></script>
  <![endif]-->
$--------------------------------------------------------------> header-includes
$for(header-includes)$
  $header-includes$
$endfor$
$-------------------------------------------------------------------------------
</head>
<body>
<article class="markdown-body">
$---------------------------------------------------------------> include-before
$for(include-before)$
$include-before$
$endfor$
$-->>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> IF: title
<h1 class="title">$title$</h1>

$if(custom-toc)$
<img src="divider.svg" class="break"/>
$else$
<img src="../divider.svg" class="break"/>
$endif$

$if(custom-toc)$
$elseif(category)$
<a class="return" href="./">Return to $category$</a>
$else$
<a class="return" href="../">Return to Table of Contents</a>
$endif$

$--<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<< END IF: title
$--------------------------------------------------------------------------> toc
<!-- $if(toc)$
<hr>
<nav id="$idprefix$TOC">
<h1 class="toc-title">$if(toc-title)$$toc-title$$else$Contents$endif$</h1>
$table-of-contents$
</nav>
<hr>
$endif$ -->
$-------------------------------------------------------------------------> body
$body$
$----------------------------------------------------------------> include-after
$for(include-after)$
$include-after$
$endfor$
$-------------------------------------------------------------------------------
<!-- $if(custom-toc)$
$else$
<a class="return" href="index.html">Return to Table of Contents</a>
$endif$ -->

$if(custom-toc)$
$elseif(category)$
<a class="return" href="./">Return to $category$</a>
$else$
<a class="return" href="../">Return to Table of Contents</a>
$endif$

$if(custom-toc)$
<img src="divider.svg" class="break"/>
$else$
<img src="../divider.svg" class="break"/>
$endif$

</article>
</body>
</html>
